.container.slider-with-articles
  .articles
    ul.articles__list
      li.articles__item
        a(href="#")
          img(src="img/article.png" alt="pic")
          .articles__item__info
            span.articles__item__note Путешествия
            p.articles__item__text Искуственные елки
      li.articles__item
        a(href="#")
          img(src="img/article.png" alt="pic")
          .articles__item__info
            span.articles__item__note Путешествия
            p.articles__item__text Искуственные елки
  .slider__wrap-1
    .slider__container
    .slider-1.main-banner  
      div.slider-1__item
        img(src="img/slider-2.jpg")
        .slider-1__item__text
          h2 C картинками аналогично
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        video(src="img/video.mp4" autoplay muted loop allowfullscreen)
        .slider-1__item__text
          h2 C картинками аналогично
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-2.jpg")
        .slider-1__item__text
          h2 C картинками аналогично
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item.light-slide
        img(src="img/slider-6-light.jpg")
        .slider-1__item__text
          h2 C картинками аналогично
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-2.jpg")
        .slider-1__item__text
          h2 C картинками аналогично
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-2.jpg")
        .slider-1__item__text
          h2 C картинками аналогично
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-2.jpg")
        .slider-1__item__text
          h2 C картинками аналогично
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-2.jpg")
        .slider-1__item__text
          h2 C картинками аналогично
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-2.jpg")
        .slider-1__item__text
          h2 C картинками аналогично
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-2.jpg")
        .slider-1__item__text
          h2 C картинками аналогично
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
  .articles
    ul.articles__list
      li.articles__item
        a(href="#")
          img(src="img/article.png" alt="pic")
          .articles__item__info
            span.articles__item__note Путешествия
            p.articles__item__text Искуственные елки
      li.articles__item
        a(href="#")
          img(src="img/article.png" alt="pic")
          .articles__item__info
            span.articles__item__note Путешествия 
            p.articles__item__text Искуственные елки
