.slider__wrap.container
  .slider__container.container
  .slider-1.main-banner.under
    div.slider-1__item
      img(src="img/slider-pic.jpg")
      .slider-1__item__text.black
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      video(src="img/video.mp4" autoplay muted loop allowfullscreen)
      .slider-1__item__text.black.right
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-pic.jpg")
      .slider-1__item__text.center
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item.light-slide
      img(src="img/light-img.jpg")
      .slider-1__item__text.center.black
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-pic.jpg")
      .slider-1__item__text
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-pic.jpg")
      .slider-1__item__text
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-pic.jpg")
      .slider-1__item__text
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-pic.jpg")
      .slider-1__item__text
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-pic.jpg")
      .slider-1__item__text
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-pic.jpg")
      .slider-1__item__text
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
