.slider__wrap-1
  .slider__container.container
  .slider-1.main-banner  
    div.slider-1__item
      img(src="img/slider-2.jpg")
      .container
        .slider-1__item__text
          h2 Готовые решения 
            br
            | для вашего бизнеса
          p Более 100 моделей по честным ценам 
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      video(src="img/video.mp4" autoplay muted loop allowfullscreen)
      .container
        .slider-1__item__text
          h2 Здесь нужно видео 1920x337
            br
            | (Размер дебильный, сделали по дизу)
          p Более 100 моделей по честным ценам 
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-2.jpg")
      .container
        .slider-1__item__text.center
          h2 Готовые решения 
            br
            | для вашего бизнеса
          p Более 100 моделей по честным ценам 
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    //div.slider-1__item.light-slide
      img(src="img/light-img.jpg")
      .container
        .slider-1__item__text.right.gray
          h2 Готовые решения 
            br
            | для вашего бизнеса
          p Более 100 моделей по честным ценам 
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-2.jpg")
      .container
        .slider-1__item__text
          h2 Готовые решения 
            br
            | для вашего бизнеса
          p Более 100 моделей по честным ценам 
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-2.jpg")
      .container
        .slider-1__item__text
          h2 Готовые решения 
            br
            | для вашего бизнеса
          p Более 100 моделей по честным ценам 
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-2.jpg")
      .container
        .slider-1__item__text
          h2 Готовые решения 
            br
            | для вашего бизнеса
          p Более 100 моделей по честным ценам 
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-2.jpg")
      .container
        .slider-1__item__text
          h2 Готовые решения 
            br
            | для вашего бизнеса
          p Более 100 моделей по честным ценам 
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-2.jpg")
      .container
        .slider-1__item__text
          h2 Готовые решения 
            br
            | для вашего бизнеса
          p Более 100 моделей по честным ценам 
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-2.jpg")
      .container
        .slider-1__item__text
          h2 Готовые решения 
            br
            | для вашего бизнеса
          p Более 100 моделей по честным ценам 
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
