.slider__wrap-1.container
  .slider__container.container
  .slider-1.main-banner  
    div.slider-1__item
      img(src="img/slider-3.jpg")
      .slider-1__item__text.center
        h2 Картинки становятся криво
          br 
          | В дизе вставили 1172
          br
          | Что будет если контейнер увеличивается?
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      video(src="img/video.mp4" autoplay muted loop allowfullscreen)
      .slider-1__item__text.right
        h2 Аналогично, 1920x323
          br 
          | Разрешение из диза
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-3.jpg")
      .slider-1__item__text.right.black
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item.light-slide
      img(src="img/slider-3-light.jpg")
      .slider-1__item__text
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-3.jpg")
      .slider-1__item__text
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-3.jpg")
      .slider-1__item__text
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-3.jpg")
      .slider-1__item__text
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-3.jpg")
      .slider-1__item__text
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-3.jpg")
      .slider-1__item__text
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-3.jpg")
      .slider-1__item__text
        h2 Готовые решения
          br 
          | для вашего бизнеса
        p Более 100 моделей по честным ценам
          br
          | Бесплатная доставка по РБ + ПОДАРОК
        a(href="#").slider-1__btn-1 Все услуги
        a(href="#").slider-1__btn-2 Заказать звонок
