.container.slider-with-articles
  .slider__wrap-1
    .slider__container
    .slider-1.main-banner  
      div.slider-1__item
        img(src="img/slider-5.jpg")
        .slider-1__item__text
          h2 C картинками аналогично
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        video(src="img/video.mp4" autoplay muted loop allowfullscreen)
        .slider-1__item__text
          h2 Готовые решения
            br 
            | для вашего бизнеса
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-5.jpg")
        .slider-1__item__text
          h2 Готовые решения
            br 
            | для вашего бизнеса
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item.light-slide
        img(src="img/slider-5-light.jpg")
        .slider-1__item__text
          h2 Готовые решения
            br 
            | для вашего бизнеса
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-5.jpg")
        .slider-1__item__text.black
          h2 Готовые решения
            br 
            | для вашего бизнеса
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-5.jpg")
        .slider-1__item__text.black
          h2 Готовые решения
            br 
            | для вашего бизнеса
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-5.jpg")
        .slider-1__item__text.black
          h2 Готовые решения
            br 
            | для вашего бизнеса
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-5.jpg")
        .slider-1__item__text.black
          h2 Готовые решения
            br 
            | для вашего бизнеса
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-5.jpg")
        .slider-1__item__text.black
          h2 Готовые решения
            br 
            | для вашего бизнеса
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
      div.slider-1__item
        img(src="img/slider-5.jpg")
        .slider-1__item__text.black
          h2 Готовые решения
            br 
            | для вашего бизнеса
          p Более 100 моделей по честным ценам
            br
            | Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
  .articles
    ul.articles__list
      li.articles__item
        a(href="#")
          img(src="img/article.png" alt="pic")
          .articles__item__info
            span.articles__item__note Путешествие в разные страны с нашей компанией 
            p.articles__item__text Тур по Европе. Проведи с нами свои самые лучшие каникулы
      li.articles__item
        a(href="#")
          img(src="img/article.png" alt="pic")
          .articles__item__info
            span.articles__item__note Путешествие в разные страны с нашей компанией 
            p.articles__item__text Тур по Европе. Проведи с нами свои самые лучшие каникулы
