.slider__wrap
  .slider__container.container
  .slider-1.main-banner.under
    div.slider-1__item
      img(src="img/slider-pic.jpg")
      .container
        .slider-1__item__text.center
          h2 Готовые решения для
            br
            | вашего бизнеса
          p Более 100 моделей по честным ценам
            br 
            |  Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      video(src="img/video.mp4" autoplay muted loop allowfullscreen)
      .container
        .slider-1__item__text.gray.right
          h2 Готовые решения для
            br
            | вашего бизнеса
          p Более 100 моделей по честным ценам
            br 
            |  Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-pic.jpg")
      .container
        .slider-1__item__text.white
          h2 Готовые решения для
            br
            | вашего бизнеса
          p Более 100 моделей по честным ценам
            br 
            |  Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item.light-slide
      img(src="img/light-img.jpg")
      .container
        .slider-1__item__text.black
          h2 Готовые решения для
            br
            | вашего бизнеса
          p Более 100 моделей по честным ценам
            br 
            |  Бесплатная доставка по РБ + ПОДАРОК
    div.slider-1__item
      img(src="img/slider-pic.jpg")
      .container
        .slider-1__item__text
          p Более 100 моделей по честным ценам
            br 
            |  Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item
      img(src="img/slider-pic.jpg")
      .container
        .slider-1__item__text
          h2 Готовые решения для
            br
            | вашего бизнеса
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item.pos
      img(src="img/slider-pic.jpg")
      .container
        .slider-1__item__text.center
          h2 Готовые решения для
            br
            | вашего бизнеса
          p Более 100 моделей по честным ценам
            br 
            |  Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item.pos
      img(src="img/slider-pic.jpg")
      .container
        .slider-1__item__text.right
          h2 Готовые решения для
            br
            | вашего бизнеса
          p Более 100 моделей по честным ценам
            br 
            |  Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item.pos
      img(src="img/slider-pic.jpg")
      .container
        .slider-1__item__text.center.gray
          h2 Готовые решения для
            br
            | вашего бизнеса
          p Более 100 моделей по честным ценам
            br 
            |  Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
    div.slider-1__item.pos
      img(src="img/slider-pic.jpg")
      .container
        .slider-1__item__text.right.white
          h2 Готовые решения для
            br
            | вашего бизнеса
          p Более 100 моделей по честным ценам
            br 
            |  Бесплатная доставка по РБ + ПОДАРОК
          a(href="#").slider-1__btn-1 Все услуги
          a(href="#").slider-1__btn-2 Заказать звонок
