header.header-mobile
  .header-mobile__title
    .header-mobile__burger#mobile-menu-btn
      span 
      span
      span
    a(href="#").header-mobile__logo
      svg(role="img").logo-mobile
        use(xlink:href="img/map.svg#logo")
  ul.header-mobile__list.user-counts
    li.user-counts__item.sign-display-show
      a(href="#").user-counts__item__link
        svg(role="img").sign-ic
          use(xlink:href="img/map.svg#sign")
    li.user-counts__item.cart.cart-display-show
      a(href="#").user-counts__item__link
        svg(role="img").cart-ic
          use(xlink:href="img/map.svg#cart")
        span.user-counts__item__num 12 
    li.user-counts__item
      a(href="#").user-counts__item__link
        svg(role="img").search-ic
          use(xlink:href="img/map.svg#search")
  .header-mobile__menu#header-mobile-menu
    ul.header-mobile__menu__list
      li.header-mobile__menu__item
        a(href="#").header-mobile__menu__drop Компания
          svg(role="img").arrow-triangle
            use(xlink:href="img/map.svg#arrow-triangle")
        ul.header-mobile__menu__sublist
          li.header-mobile__menu__item.sublist-back
            span.header-mobile__menu__item_back
              svg(role="img").back-arrow
                use(xlink:href="img/map.svg#back-arrow")
              | Назад
          li.header-mobile__menu__item.active
            a(href="#") Компания
          li.header-mobile__menu__item
            a(href="#") О компании
          li.header-mobile__menu__item
            a(href="#") Отзывы
          li.header-mobile__menu__item
            a(href="#") Сертификаты
          li.header-mobile__menu__item
            a(href="#") История компании
          li.header-mobile__menu__item
            a(href="#") Вакансии
          li.header-mobile__menu__item
            a(href="#") История компании
          li.header-mobile__menu__item
            a(href="#") Вакансии
      li.header-mobile__menu__item
        a(href="#") Информация
          svg(role="img").arrow-triangle
            use(xlink:href="img/map.svg#arrow-triangle")
      li.header-mobile__menu__item
        a(href="#") Где купить
          svg(role="img").arrow-triangle
            use(xlink:href="img/map.svg#arrow-triangle")
      li.header-mobile__menu__item
        a(href="#") Цены
          svg(role="img").arrow-triangle
            use(xlink:href="img/map.svg#arrow-triangle")
      li.header-mobile__menu__item
        a(href="#") Контакты
      li.header-mobile__menu__item
        a(href="#") Каталог
          svg(role="img").arrow-triangle
            use(xlink:href="img/map.svg#arrow-triangle")
      li.header-mobile__menu__item
        a(href="#") Услуги
          svg(role="img").arrow-triangle
            use(xlink:href="img/map.svg#arrow-triangle")
      li.header-mobile__menu__item
        a(href="#") Проекты
          svg(role="img").arrow-triangle
            use(xlink:href="img/map.svg#arrow-triangle")
      li.header-mobile__menu__item
        a(href="#") Курсы
          svg(role="img").arrow-triangle
            use(xlink:href="img/map.svg#arrow-triangle")
    .header-mobile__info
      ul.header-mobile__info__list
        li.header-mobile__info__item.sign-display-show
          a(href="#")
            .header-mobile__info__wrap
              svg(role="img").sign-ic
                use(xlink:href="img/map.svg#sign")
              | Личный кабинет
        li.header-mobile__info__item.cart-display-show
          a(href="#")
            .header-mobile__info__wrap
              svg(role="img").cart-ic
                use(xlink:href="img/map.svg#cart")
              | Корзина
              span.user-counts__item__num 12 
        li.header-mobile__info__item.rating-display-show
          a(href="#")
            .header-mobile__info__wrap
              svg(role="img").sign-ic
                use(xlink:href="img/map.svg#rating")
              | Сравнение товаров
              span.user-counts__item__num 12 
        li.header-mobile__info__item.like-display-show
          a(href="#")
            .header-mobile__info__wrap
              svg(role="img").like-ic
                use(xlink:href="img/map.svg#like")
              | Избранные товары
              span.user-counts__item__num.empty 0
        li.header-mobile__info__item
          a(href="#").header-mobile__menu__drop
            .header-mobile__info__wrap
              svg(role="img").phone-ic
                use(xlink:href="img/map.svg#phone")
              | + 375 (00) 100-00-00
          ul.header-mobile__menu__sublist
            li.header-mobile__menu__item.sublist-back
              span.header-mobile__menu__item_back
                svg(role="img").back-arrow
                  use(xlink:href="img/map.svg#back-arrow")
                | Назад
            li.header-mobile__menu__item.active
              a(href="#") Телефоны
            li.header-mobile__menu__item.header-mobile__menu__item_phone
                a(href="tel:+375 (00) 000-00-00") +375 (00) 000-00-00
            li.header-mobile__menu__item.header-mobile__menu__item_phone
                a(href="tel:+375 (00) 000-00-00") +375 (00) 000-00-00
                span Звонок бесплатный
            li.header-mobile__menu__item.header-mobile__menu__item_phone
                a(href="tel:+375 (00) 000-00-00") +375 (00) 000-00-00
                span Бухгалтерия
            li.header-mobile__menu__item.header-mobile__menu__item_phone
                a(href="tel:+375 (00) 000-00-00") +375 (00) 000-00-00
                span Отдел продаж
            li.header-mobile__menu__item.header-mobile__menu__item_phone
                a(href="tel:+375 (00) 000-00-00") +375 (00) 000-00-00
                span Секретарь
            li.header-mobile__menu__item
              a(href="#") Заказать звонок
      ul.header-mobile__contact
        li.header-mobile__contact__item
          a(href="#") 
            svg(role="img").place-ic.header-mobile__place-ic
              use(xlink:href="img/map.svg#place")
            span Минск, ул. Мележа 1, 8 этаж, офис 816
        li.header-mobile__contact__item
          a(href="#") 
            svg(role="img").mail-ic
              use(xlink:href="img/map.svg#mail")
            | manager@market.by        
        li.header-mobile__contact__item
          a(href="#") 
            svg(role="img").vk-ic
              use(xlink:href="img/map.svg#vk")
            | В контакте
        li.header-mobile__contact__item
          a(href="#") 
            svg(role="img").fb-ic
              use(xlink:href="img/map.svg#fb")
            | Facebook
        li.header-mobile__contact__item
          a(href="#") 
            svg(role="img").tw-ic
              use(xlink:href="img/map.svg#tw")
            | Twitter
        li.header-mobile__contact__item
          a(href="#") 
            svg(role="img").inst-ic
              use(xlink:href="img/map.svg#inst")
            | Instagram
        li.header-mobile__contact__item
          a(href="#") 
            svg(role="img").yb-ic
              use(xlink:href="img/map.svg#yb")
            | Youtube
        li.header-mobile__contact__item
          a(href="#") 
            svg(role="img").ok-ic
              use(xlink:href="img/map.svg#ok")
            | Одноклассники
