// Номер Слайдера (вставляем первый кусок кода)
// Слайдер 1: header.header.header_slider-under.header_white
// Слайдер 2: header.header
// Слайдер 3: header.header.container
// Слайдер 4: header.header.container
// Слайдер 5: header.header.container
div.background-banner
header.header.header_white.header_slider-under.container-nu
  .header__top.full-width-border
    .container
      span.place__select Мордор
        svg(role="img").place__select__arrow-ic
          use(xlink:href="img/map.svg#arrow-down-sm")
        ul.place__select__list
          li.place__select__item
            a(href="#") Москва
          li.place__select__item
            a(href="#") Санкт-Петербург
          li.place__select__item
            a(href="#") Новосибирск
          li.place__select__item
            a(href="#") Екатеринбург
          li.place__select__item
            a(href="#") Нижний Новгород
          li.place__select__item
            a(href="#") Казань
          li.place__select__item
            a(href="#") Челябинск
          li.place__select__item
            a(href="#") Омск
          li.place__select__item
            a(href="#") Самара
          li.place__select__item
            a(href="#") Ростов-на-Дону
          li.place__select__item
            a(href="#") Уфа
          li.place__select__item
            a(href="#") Красноярск
          li.place__select__item
            a(href="#") Воронеж
          li.place__select__item
            a(href="#") Пермь
          li.place__select__item
            a(href="#") Волгоград
      span.adress.adress_header Минск, ул. Мележа 1, 8 этаж, офис 816
      .phone-dropdown
        svg(role="img").phone-dropdown__phone-ic
          use(xlink:href="img/map.svg#phone")
        a(href="#") +375 (00) 000-00-00
        svg(role="img").phone-dropdown__arrow-ic
          use(xlink:href="img/map.svg#arrow-down-sm")
        ul.phone-dropdown__list
          li.phone-dropdown__item
            .phone-dropdown__item__img
              img(src="img/a1.png" alt="a1")
            a(href="#").phone-dropdown__item__link.phone +375 (00) 100-00-00 
              span (А1)
            span Единый сервисный номер
          li.phone-dropdown__item
            .phone-dropdown__item__img
              img(src="img/mts.png" alt="mts")
            a(href="#").phone-dropdown__item__link.phone +375 (00) 100-00-00 
              span (МТС)
            span Отдел продаж
          li.phone-dropdown__item
            .phone-dropdown__item__img
              img(src="img/life.png" alt="life")
            a(href="#").phone-dropdown__item__link.phone +375 (00) 100-00-00 
              span (Life)
            span Тех отдел
          li.phone-dropdown__item
            .phone-dropdown__item__img
              img(src="img/tel.png" alt="a1")
            a(href="#").phone-dropdown__item__link.phone +375 (00) 100-00-00 
              span (Городской)
            span Бухгалтерия
          li.phone-dropdown__item
            .phone-dropdown__item__img
              img(src="img/mail.png" alt="mail")
            a(href="#").phone-dropdown__item__link marketweb-company@yandex.ru
            span Для заявок
          li.phone-dropdown__item
            .phone-dropdown__item__img
              img(src="img/tg.png" alt="tg")
            a(href="#").phone-dropdown__item__link Наш Telegram
          li.phone-dropdown__item
            .phone-dropdown__item__img
              img(src="img/wa.png" alt="whatsapp")
            a(href="#").phone-dropdown__item__link Наш WhatsApp
          li.phone-dropdown__item
            .phone-dropdown__item__img
              img(src="img/viber.png" alt="whatsapp")
            a(href="#").phone-dropdown__item__link Наш Viber
      a(href="#").callback-btn Заказать звонок
      a(href="$").sign
        svg(role="img").sign-ic
          use(xlink:href="img/map.svg#sign")
        | Войти
      ul.user-counts
        li.user-counts__item
          a(href="#").user-counts__item__link
            svg(role="img").rating-ic
              use(xlink:href="img/map.svg#rating")
            span.user-counts__item__num 12
        li.user-counts__item
          a(href="#").user-counts__item__link
            svg(role="img").like-ic
              use(xlink:href="img/map.svg#like")
            span.user-counts__item__num.empty 0
        li.user-counts__item.cart
          a(href="#").user-counts__item__link
            svg(role="img").cart-ic
              use(xlink:href="img/map.svg#cart")
            span.user-counts__item__link__text Корзина
            span.user-counts__item__num 12
          .cart__dropdown
            ul.cart__dropdown__list
              li.cart__dropdown__item
                .cart__dropdown__item__img
                  a(href="#")
                    img(src="img/cart-clothes.png")
                .cart__dropdown__item__info
                  div.cart__dropdown__item__row
                    a(href="#") Платье от Dior от лучших модельеров Парижа, черное, 6152436372
                    span.cart__close  
                      svg(role="img").cart-close-ic
                        use(xlink:href="img/map.svg#close")
                  div.cart__dropdown__item__cost
                    span.cart__dropdown__item__price 5 172 руб.
                    s.cart__dropdown__item__price_old 5 172 руб.
              li.cart__dropdown__item
                .cart__dropdown__item__img
                  a(href="#")
                    img(src="img/cart-clothes.png")
                .cart__dropdown__item__info
                  div.cart__dropdown__item__row
                    a(href="#") Платье от Dior от лучших модельеров
                    span.cart__close  
                      svg(role="img").cart-close-ic
                        use(xlink:href="img/map.svg#close")
                  div.cart__dropdown__item__cost
                    span.cart__dropdown__item__price 5 172 руб.
              li.cart__dropdown__item
                .cart__dropdown__item__img
                  a(href="#")
                    img(src="img/cart-clothes.png")
                .cart__dropdown__item__info
                  div.cart__dropdown__item__row
                    a(href="#") Платье от Dior от лучших модельеров Парижа, черное, 6152436372
                    span.cart__close  
                      svg(role="img").cart-close-ic
                        use(xlink:href="img/map.svg#close")
                  div.cart__dropdown__item__cost
                    span.cart__dropdown__item__price 5 172 руб.
                    s.cart__dropdown__item__price_old 5 172 руб.
            .cart__dropdown__bottom
              a(href="#").btn.cart__dropdown__btn Перейти в корзину
              span.cart__dropdown__full-cost Общая сумма:
                b  55 352 руб.
        li.user-counts__item
          a(href="#").user-counts__item__link
            svg(role="img").search-ic
              use(xlink:href="img/map.svg#search")
            span.user-counts__item__link__text Поиск
  .header__middle
    .container
      a(href="#").logo
        svg(role="img").logo-ic
          use(xlink:href="img/map.svg#logo")
      .slogan.slogan_header Готовые интернет-решения на 1С-Битрикс
      ul.menu
        li.menu__item.dropdown
          a(href="#") Авто
          svg(role="img").arrow-down-ic
            use(xlink:href="img/map.svg#arrow-down")
          .dropdown__content.dropdown-1
            ul.dropdown-1__list
              li.dropdown-1__list__item
                img(src="img/auto-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Авто
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Автомобильные шины
                      ul.dropdown-1__inside__sublist
                        li 
                          a(href="#") Летние
                        li 
                          a(href="#") Зимние
                        li 
                          a(href="#") Всесезонки
                    li
                      a(href="#") Колесные диски
                    li
                      a(href="#") Автомобильные видеорегистраторы
                    li
                      a(href="#") Детские автокресла
                    li
                      a(href="#") Автомобильные усилители
                    li
                      a(href="#") Автомагнитолы
              li.dropdown-1__list__item
                img(src="img/clothes-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Одежда и обувь
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Женские сумки и кардиганы
                    li
                      a(href="#") Сумки
                    li
                      a(href="#") Дорожные сумки
                    li
                      a(href="#") Женские ботинки
                    li
                      a(href="#") Кошельки
              li.dropdown-1__list__item
                img(src="img/chair-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Мебель
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Компьютерные стулья и кресла
                    li
                      a(href="#") Компьютерные и писменные столы
                    li
                      a(href="#") Мягкие диваны и кушетки
              li.dropdown-1__list__item
                img(src="img/print-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Товары для офиса
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Проекторы
                    li
                      a(href="#") Принтеры и МФУ
                    li
                      a(href="#") Сетевое оборудование Wi-Fi и Bluetooth
              li.dropdown-1__list__item
                img(src="img/devices-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Бытовая техника
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Соковыжималки электрические
                    li
                      a(href="#") Стиральные машины
                    li
                      a(href="#") Электрообогреватели и тепловые завесы
                    li
                      a(href="#") Электробритвы мужские
                    li
                      a(href="#") Автомобильные усилители
                    li
                      a(href="#") Очистители и увлажнители воздуха
              li.dropdown-1__list__item
                img(src="img/build-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Строительство
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Набор ручного инструмента
                    li
                      a(href="#") Перфораторы
                    li
                      a(href="#") Смесители
                    li
                      a(href="#") Готовые и сухие строительные смеси
                    li
                      a(href="#") Душевые кабины
              li.dropdown-1__list__item
                img(src="img/bike-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Велосипеды
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Шоссейные велосипеды
                    li
                      a(href="#") Горные велосипеды
                    li
                      a(href="#") Городские велосипеды
                    li
                      a(href="#") Фет-байки
              li.dropdown-1__list__item
                img(src="img/beauty-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Красота
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Женская парфюмерия
                    li
                      a(href="#") Губная помада
                    li
                      a(href="#") Тушь для ресниц
              li.dropdown-1__list__item
                img(src="img/devices-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Бытовая техника
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Соковыжималки электрические
                    li
                      a(href="#") Стиральные машины
                    li
                      a(href="#") Электрообогреватели и тепловые завесы
                    li
                      a(href="#") Электробритвы мужские
                    li
                      a(href="#") Автомобильные усилители
                    li
                      a(href="#") Очистители и увлажнители воздуха
              li.dropdown-1__list__item
                img(src="img/build-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Строительство
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Набор ручного инструмента
                    li
                      a(href="#") Перфораторы
                    li
                      a(href="#") Смесители
                    li
                      a(href="#") Готовые и сухие строительные смеси
                    li
                      a(href="#") Душевые кабины
              li.dropdown-1__list__item
                img(src="img/bike-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Велосипеды
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Шоссейные велосипеды
                    li
                      a(href="#") Горные велосипеды
                    li
                      a(href="#") Городские велосипеды
                    li
                      a(href="#") Фет-байки
              li.dropdown-1__list__item
                img(src="img/beauty-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Красота
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Женская парфюмерия
                    li
                      a(href="#") Губная помада
                    li
                      a(href="#") Тушь для ресниц
              li.dropdown-1__list__item
                img(src="img/devices-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Бытовая техника
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Соковыжималки электрические
                    li
                      a(href="#") Стиральные машины
                    li
                      a(href="#") Электрообогреватели и тепловые завесы
                    li
                      a(href="#") Электробритвы мужские
                    li
                      a(href="#") Автомобильные усилители
                    li
                      a(href="#") Очистители и увлажнители воздуха
              li.dropdown-1__list__item
                img(src="img/build-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Строительство
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Набор ручного инструмента
                    li
                      a(href="#") Перфораторы
                    li
                      a(href="#") Смесители
                    li
                      a(href="#") Готовые и сухие строительные смеси
                    li
                      a(href="#") Душевые кабины
              li.dropdown-1__list__item
                img(src="img/bike-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Велосипеды
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Шоссейные велосипеды
                    li
                      a(href="#") Горные велосипеды
                    li
                      a(href="#") Городские велосипеды
                    li
                      a(href="#") Фет-байки
              li.dropdown-1__list__item
                img(src="img/beauty-dr.png")
                .dropdown-1__inside
                  a(href="#").dropdown-1__inside__title Красота
                  ul.dropdown-1__inside__list
                    li
                      a(href="#") Женская парфюмерия
                    li
                      a(href="#") Губная помада
                    li
                      a(href="#") Тушь для ресниц
        li.menu__item.dropdown
          a(href="#") Бытовая техника
          svg(role="img").arrow-down-ic
            use(xlink:href="img/map.svg#arrow-down")
          .dropdown__content.dropdown-1
              ul.dropdown-1__list
                li.dropdown-1__list__item
                  img(src="img/auto-dr.png")
                  .dropdown-1__inside
                    a(href="#").dropdown-1__inside__title Авто
                li.dropdown-1__list__item
                  img(src="img/clothes-dr.png")
                  .dropdown-1__inside
                    a(href="#").dropdown-1__inside__title Одежда и обувь
                li.dropdown-1__list__item
                  img(src="img/chair-dr.png")
                  .dropdown-1__inside
                    a(href="#").dropdown-1__inside__title Мебель
                li.dropdown-1__list__item
                  img(src="img/print-dr.png")
                  .dropdown-1__inside
                    a(href="#").dropdown-1__inside__title Товары для офиса
                    ul.dropdown-1__inside__list
                      li
                        a(href="#") Проекторы
                      li
                        a(href="#") Принтеры и МФУ
                li.dropdown-1__list__item
                  img(src="img/devices-dr.png")
                  .dropdown-1__inside
                    a(href="#").dropdown-1__inside__title Бытовая техника
                li.dropdown-1__list__item
                  img(src="img/build-dr.png")
                  .dropdown-1__inside
                    a(href="#").dropdown-1__inside__title Строительство
                li.dropdown-1__list__item
                  img(src="img/bike-dr.png")
                  .dropdown-1__inside
                    a(href="#").dropdown-1__inside__title Велосипеды
        li.menu__item.dropdown
          a(href="#") Одежда и обувь
          svg(role="img").arrow-down-ic
            use(xlink:href="img/map.svg#arrow-down")
          .dropdown__content.dropdown-1
              ul.dropdown-1__list
                li.dropdown-1__list__item
                  img(src="img/auto-dr.png")
                  .dropdown-1__inside
                    a(href="#").dropdown-1__inside__title Авто
                li.dropdown-1__list__item
                  img(src="img/clothes-dr.png")
                  .dropdown-1__inside
                    a(href="#").dropdown-1__inside__title Одежда и обувь
                li.dropdown-1__list__item
                  img(src="img/chair-dr.png")
                  .dropdown-1__inside
                    a(href="#").dropdown-1__inside__title Мебель
                li.dropdown-1__list__item
                  img(src="img/print-dr.png")
                  .dropdown-1__inside
                    a(href="#").dropdown-1__inside__title Товары для офиса
                    ul.dropdown-1__inside__list
                      li
                        a(href="#") Проекторы
                      li
                        a(href="#") Принтеры и МФУ
        li.menu__item.dropdown
          a(href="#") Строительство
          svg(role="img").arrow-down-ic
            use(xlink:href="img/map.svg#arrow-down")
          .dropdown__content.dropdown-2
            ul.dropdown-2__list
              li.dropdown-2__list__item
                a(href="#") Авто
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item
                a(href="#") Одежда и обувь
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item
                a(href="#") Мебель
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item
                a(href="#") Товары для офиса
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item
                a(href="#") Бытовая техника
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item
                a(href="#") Строительство
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item
                a(href="#") Велосипеды
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item
                a(href="#") Красота
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы

        li.menu__item.dropdown
          a(href="#") Мебель
          svg(role="img").arrow-down-ic
            use(xlink:href="img/map.svg#arrow-down")
          .dropdown__content.dropdown-2
            ul.dropdown-2__list
              li.dropdown-2__list__item.col-3
                a(href="#") Авто
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-3
                a(href="#") Одежда и обувь
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-3
                a(href="#") Мебель
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-3
                a(href="#") Товары для офиса
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-3
                a(href="#") Бытовая техника
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-3
                a(href="#") Строительство
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-3
                a(href="#") Велосипеды
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-3
                a(href="#") Красота
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
        li.menu__item.active 
          a(href="#") Красота
        li.menu__item.dropdown.dropdown-3
          a(href="#") Красота
          svg(role="img").arrow-down-ic
            use(xlink:href="img/map.svg#arrow-down")
          .dropdown__content.dropdown-3__block
            ul.dropdown-3__list
              li.dropdown-3__item
                a(href="#") Проектирование домов
                svg(role="img").arrow-down-ic
                  use(xlink:href="img/map.svg#arrow-menu-right")
                ul.dropdown-3__list.dropdown-3__sublist
                  li.dropdown-3__item
                    a(href="#") Проекты домов из бруса
                  li.dropdown-3__item
                    a(href="#") Проекты домов из газосиликатных блоков
                    svg(role="img").arrow-down-ic
                      use(xlink:href="img/map.svg#arrow-menu-right")
                    ul.dropdown-3__list.dropdown-3__sublist.left-side
                      li.dropdown-3__item
                        a(href="#") Проекты домов из бруса
                      li.dropdown-3__item
                        a(href="#") Проекты домов из газосиликатных блоков
                      li.dropdown-3__item
                        a(href="#") Проекты коттеджей
                      li.dropdown-3__item
                        a(href="#") Проекты двухэтажных домов
                        svg(role="img").arrow-down-ic
                          use(xlink:href="img/map.svg#arrow-menu-right")
                        ul.dropdown-3__list.dropdown-3__sublist.left-side
                          li.dropdown-3__item
                            a(href="#") Проекты домов из бруса
                          li.dropdown-3__item
                            a(href="#") Проекты домов из газосиликатных блоков
                          li.dropdown-3__item
                            a(href="#") Проекты коттеджей
                  li.dropdown-3__item
                    a(href="#") Проекты коттеджей
                  li.dropdown-3__item
                    a(href="#") Проекты двухэтажных домов
                  li.dropdown-3__item
                    a(href="#") Проекты домов из пеноблока
              li.dropdown-3__item
                a(href="#") Дизайн интерьера
                svg(role="img").arrow-down-ic
                  use(xlink:href="img/map.svg#arrow-menu-right")
                ul.dropdown-3__list.dropdown-3__sublist
                  li.dropdown-3__item
                    a(href="#") Проекты домов из бруса
                  li.dropdown-3__item
                    a(href="#") Проекты домов из газосиликатных блоков
                  li.dropdown-3__item
                    a(href="#") Проекты двухэтажных домов
                  li.dropdown-3__item
                    a(href="#") Проекты домов из пеноблока
              li.dropdown-3__item.drop
                a(href="#") Ландшафтное проектирование
                svg(role="img").arrow-down-ic
                  use(xlink:href="img/map.svg#arrow-menu-right")
                ul.dropdown-3__list.dropdown-3__sublist
                  li.dropdown-3__item
                    a(href="#") Проекты домов из бруса
                  li.dropdown-3__item
                    a(href="#") Проекты домов из газосиликатных блоков
                  li.dropdown-3__item
                    a(href="#") Проекты коттеджей
                  li.dropdown-3__item
                    a(href="#") Проекты двухэтажных домов
              li.dropdown-3__item.drop
                a(href="#") Проектирование домов
                svg(role="img").arrow-down-ic
                  use(xlink:href="img/map.svg#arrow-menu-right")
                ul.dropdown-3__list.dropdown-3__sublist
                  li.dropdown-3__item
                    a(href="#") Проекты домов из бруса
                  li.dropdown-3__item
                    a(href="#") Проекты коттеджей
                  li.dropdown-3__item
                    a(href="#") Проекты двухэтажных домов
                  li.dropdown-3__item
                    a(href="#") Проекты домов из пеноблока
        li.menu__item.dropdown 
          a(href="#") Велосипеды
          svg(role="img").arrow-down-ic
            use(xlink:href="img/map.svg#arrow-down")
          .dropdown__content.dropdown-2
            ul.dropdown-2__list
              li.dropdown-2__list__item.col-2
                a(href="#") Авто
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-2
                a(href="#") Одежда и обувь
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-2
                a(href="#") Мебель
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-2
                a(href="#") Товары для офиса
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-2
                a(href="#") Бытовая техника
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-2
                a(href="#") Строительство
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-2
                a(href="#") Велосипеды
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
              li.dropdown-2__list__item.col-2
                a(href="#") Красота
                ul.dropdown-2__sublist
                  li
                    a(href="#") Автомобильные шины
                  li
                    a(href="#") Колесные диски
                  li
                    a(href="#") Автомобильные видеорегистраторы
                  li
                    a(href="#") Детские автокресла
                  li
                    a(href="#") Автомобильные усилители
                  li
                    a(href="#") Автомагнитолы
        li.menu__item.dropdown
          a(href="#") Красота
          svg(role="img").arrow-down-ic
            use(xlink:href="img/map.svg#arrow-down")
        li.menu__item.dropdown
          a(href="#") Красота
