/*
СЛАЙДЕРЫ И ШАПКИ правятся тут
\src\_partials\sections\headers\header-1.pug
\src\assets\css\includes\content.less
\src\_partials\headers.pug
*/

// Номер Слайдера (вставляем первый кусок кода)
// Слайдер 1: header.header.header_slider-under.header_white
// Слайдер 2: header.header
// Слайдер 3: header.header.container
// Слайдер 4: header.header.container
// Слайдер 5: header.header.container

/* При вкючении баннера требуется добавить шапке класс "container", а так же использовать слайдеры не на всю ширину экрана */

/* В slider-1 background шапки (header) прозрачный и она всегда прозрачная на главной странице.
На всех остальных страницах сайта шапка имеет цвет который выбрал пользователь.
*/

// Цвета для разработки
@white: #ffffff;
@blue: #438be3;
@dark-title: #333333;
@gray-text: #666666;
@primary: #438be3; // Основной Цвет

@font: 13px; // Размер шрифта 13, 14, 15
@ff: "PTSans"; // Шрифт
@container: 1200px; // Ширина контейнера 1200, 1344, 1500, 1700
@body-bg: url("../img/main-banner.jpg"); // фон за контейнером // none - url("../img/main-banner.jpg")

@header-top: none; // заливка верхней строчки
@header-middle: none; // заливка средней строчки
@header-bottom: none; // заливка нижней строчки

@header-links: #333333; // ссылки шапки верх
@header-links-middle: #333333; // ссылки шапки средина
@header-links-bottom: #333333; // ссылки шапки низ
@header-links-bottom-hover: #438be3; // ссылки шапки низ ховер
@left-side: -100%; // 100% или -100% / сторона выпадающего меню

@part1: #438be3; // Иконка региона "Ваш город"
@part2: #333333; // Текст "Ваш город"
@part3: #438be3; // Текст города
@part4: #333333; // Стрелка региона

@part5: #333333; // Номер и стрелка
@part6: red; // Текст под номером
@part7: #438be3; // Иконка трубки

@part8: #333333; // Иконка "Войти"
@part9: #333333; // Слово "Войти"
@part10: #999999; // Слово "Мой кабинет"

@logo: #333333; // логотип

@part11: #438be3; // Ссылка заказать звонок
@part12: red; // Кнопка заказать звонок
@part13: purple; // Слоган

@adres: #333333; // Строка Адреса
@part14: #333333; // иконки корзины / сравнения товаров / избранного

@part15: #438be3; // Активная плашка "кружок", когда значение не равно 0 для: корзины / сравнения товаров / избранного

@part16: #438be3; // Слово "корзина"
@part17: #999999; // Сумма "корзины"

@search-bg: #ffffff; // фон строки поиска
@search-ic-bg: #333333; // цвет иконки строки поиска

@part18: red; // слово "поиск" за исключением в строке поиска
@part19: red; // Иконка поиска

// Цвет кнопок захвата (на дизайне показан Желтыми кнопками (на баннере))
@order-btn: #faad3d;

// Включаемые отключаемые блоки (ОДИНОЧНЫЕ): (пока только работает на header-1-5)
@callback-btn-display: inline-block; // Кнопка или ссылка "Заказать звонок" // none - inline-block
@sign-display: flex; // Вход в Личный кабинет // none - flex
@region-display: inline-block; // Регион // none - inline-block
@rating-display: block; // сравнение товаров (иконка в шапке и меню моб) // none - block
@cart-display: flex; // корзина (иконка в шапке и меню моб) // none - flex
@like-display: block; // избранные товары (иконка в шапке и меню моб) // none - block

// пока используется на всех шапках (десктоп) кроме header-1-5
@user-count-display: flex; // Корзина / Сравнение товаров / Избранное / Поиск(если иконка) (это одно отключение для 3-х элементов одновременно) // none - flex

// Включаемые отключаемые блоки В Мобильном Меню:
@mobile-menu-contacts-display: block; // иконки соцсети в моб меню (телегр твит и тд) // none - block
