.header-mobile {
  position: relative;

  display: none;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding: 0 20px;

  background: #ffffff;
  &__logo {
    display: inline-block;
    margin-left: 15px;

    vertical-align: middle;
  }
  &__title {
    & > span {
      display: inline-block;
      margin-left: 20px;

      font-weight: bold;
      font-size: 16px;
      vertical-align: middle;
      color: #ffffff;
    }
  }
  &__burger {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 12px;

    vertical-align: middle;

    transform: rotate(0deg);
    cursor: pointer;

    transition: 0.5s ease-in-out;
    &.open span:nth-child(1) {
      top: 6px;

      transform: rotate(135deg);
    }
    &.open span:nth-child(2) {
      left: -60px;

      opacity: 0;
    }
    &.open span:nth-child(3) {
      top: 6px;

      transform: rotate(-135deg);
    }
    span {
      position: absolute;
      left: 0;

      display: block;
      width: 18px;
      height: 2px;

      background: @header-links-bottom;
      transform: rotate(0deg);
      opacity: 1;

      transition: 0.25s ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 6px;
      }
      &:nth-child(3) {
        top: 12px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__list {
    .user-counts {
      &__item {
        height: 20px;
        margin-top: 0;
        margin-right: 19px;
        &:last-child {
          margin-right: 0;
        }
        &__link {
          .sign-ic {
            width: 18px;
            height: 20px;
            margin-right: 0;

            stroke: none;
          }

          .cart-ic {
            width: 25px;
            height: 20px;
          }

          .search-ic {
            width: 20px;
            height: 20px;
          }

          svg {
            fill: @part14;
            stroke: @part14;
            &:hover {
              fill: @primary;
              stroke: @primary;
            }
          }
        }
        &__num {
          position: absolute;
          bottom: 9px;
          left: 12px;

          margin-left: 0;
        }
      }
    }
  }
  &__menu {
    position: absolute;
    top: 100%;
    left: -305px;
    z-index: 20;

    width: 100%;
    max-width: 295px;
    // height: 100%;
    // height: calc(95vh - 62px);
    // overflow-y: auto;

    background: #ffffff;
    border-left: 8px solid @primary;
    box-shadow: 6px 3px 10px rgba(0, 0, 0, 0.1);

    transition: left 0.5s ease;
    &.open {
      left: 0;
    }
    &__item {
      height: 60px;
      padding: 0 15px;

      line-height: 60px;

      border-bottom: 1px solid #e7e7e8;
      cursor: pointer;
      &_phone {
        display: flex;
        flex-direction: column;
        justify-content: center;

        font-weight: 600;
        line-height: 1;
        span {
          margin-top: 5px;

          font-weight: 500;
          font-size: 0.9rem;
          color: #999999;
        }
      }
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          color: @primary;
        }
      }
      &_back {
        display: flex;
        align-items: center;

        color: #999999;
        svg {
          margin-right: 20px;
        }
      }
      &.active {
        color: #438be3;

        background: #ecf4ff;
      }
      // &:hover a {
      //   color: @primary;
      // }
    }
    &__sublist {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -295px;
      z-index: 9999;

      width: 100%;
      height: 100%;

      background: #ffffff;

      transition: left 0.5s ease;
      &.active {
        left: 0;
      }
    }
  }
  &__info {
    &__wrap {
      position: relative;

      display: inline;

      vertical-align: middle;
    }
    &__list {
      background: #f9f9f9;
    }
    &__item {
      height: 60px;
      padding: 0 15px;

      line-height: 60px;

      border-bottom: 1px solid #e7e7e8;
      .sign-ic {
        width: 18px;
        height: 20px;

        stroke: none;
      }
      .phone-ic {
        height: 20px;

        fill: @primary;
        stroke: none;
      }
      & > a {
        display: block;
        width: 100%;
        height: 100%;
      }
      svg {
        width: 20px;
        margin-right: 20px;

        vertical-align: middle;

        stroke: @part14;
      }
      .user-counts__item__num {
        position: absolute;
        bottom: 9px;
        left: 12px;

        margin-left: 0;

        line-height: 18px;
      }
    }
  }
  &__contact {
    display: @mobile-menu-contacts-display;
    padding: 15px 0;
    &__item {
      display: flex;
      margin-bottom: 15px;
      padding-left: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: flex;
      }
      svg {
        width: 20px;
        height: 20px;
        margin-right: 20px;

        vertical-align: middle;
      }
    }
  }
  &__place-ic {
    position: static;
  }
}

.logo-mobile {
  width: 130px;
  height: 60px;

  vertical-align: middle;
}

// Скрытие блоков START
// .sign-display-show {
//   display: @sign-display;
// }

// .rating-display-show {
//   display: @rating-display;
// }

// Скрытие блоков END
