section.services
  .container
    h2.services__title.title Наши услуги
    p.services__text В нашем каталоге представлены последние линейки спецтехники, систем Закажите констультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. мы подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок
    ul.services__thirteen
      li.services__thirteen__item
        svg(role="img")
          use(xlink:href="img/map.svg#codepen")
        a(href="#") Автоматизация бизнеса  
      li.services__thirteen__item
        svg(role="img")
          use(xlink:href="img/map.svg#codepen")
        a(href="#") Бухгалтерские услуги
      li.services__thirteen__item
        svg(role="img")
          use(xlink:href="img/map.svg#codepen")
        a(href="#") Салон красоты
      li.services__thirteen__item
        svg(role="img")
          use(xlink:href="img/map.svg#codepen")
        a(href="#") Проектирование домов
      li.services__thirteen__item
        svg(role="img")
          use(xlink:href="img/map.svg#codepen")
        a(href="#") Школа по автотранспорту
      li.services__thirteen__item
        svg(role="img")
          use(xlink:href="img/map.svg#codepen")
        a(href="#") Дизайн интерьеров
      li.services__thirteen__item
        svg(role="img")
          use(xlink:href="img/map.svg#codepen")
        a(href="#") Музыкальная школа
        
