section.services.services__nine
  .container
    h2.services__title.title Наши услуги
    p.services__text В нашем каталоге представлены последние линейки спецтехники, систем Закажите констультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. мы подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок
    ul.services-nine
      li.services-nine__item
        a(href="#")
          img(src="img/s9.1.jpg" alt="Услуга")
        a(href="#").services-nine__item__link Технико - экономическое обоснование бизнес-планов
      li.services-nine__item
        a(href="#")
          img(src="img/s9.2.jpg" alt="Услуга")
        a(href="#").services-nine__item__link Бухгалтериские услуги
      li.services-nine__item
        a(href="#")
          img(src="img/s9.3.jpg" alt="Услуга")
        a(href="#").services-nine__item__link Салон красоты
      li.services-nine__item
        a(href="#")
          img(src="img/s9.4.jpg" alt="Услуга")
        a(href="#").services-nine__item__link Проектирование домов
      li.services-nine__item
        a(href="#")
          img(src="img/s9.5.jpg" alt="Услуга")
        a(href="#").services-nine__item__link Школа по автотранспорту
      li.services-nine__item
        a(href="#")
          img(src="img/s9.6.jpg" alt="Услуга")
        a(href="#").services-nine__item__link Дизайн интерьеров
      li.services-nine__item
        a(href="#")
          img(src="img/s9.7.jpg" alt="Услуга")
        a(href="#").services-nine__item__link Музыкальная школа
