section.services
  .container
    h2.services__title.title Наши услуги
    p.services__text В нашем каталоге представлены последние линейки спецтехники, систем Закажите констультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. мы подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок
    ul.services-second
      li.services-second__item
        img(src="img/s2.1.jpg" alt="Услуга")
        a(href="#").services-second__item__overlay
          span Тату и пирсинг
      li.services-second__item
        img(src="img/s2.2.jpg" alt="Услуга")
        a(href="#").services-second__item__overlay
          span Проекты коттеджей
      li.services-second__item
        img(src="img/s2.3.jpg" alt="Услуга")
        a(href="#").services-second__item__overlay
          span Школа танцев
      li.services-second__item
        img(src="img/s2.4.jpg" alt="Услуга")
        a(href="#").services-second__item__overlay
          span Умывальники и пъедисталы
      li.services-second__item
        img(src="img/s2.5.jpg" alt="Услуга")
        a(href="#").services-second__item__overlay
          span Школа танцев
      li.services-second__item
        img(src="img/s2.6.jpg" alt="Услуга")
        a(href="#").services-second__item__overlay
          span Бытовая техника
      li.services-second__item
        img(src="img/s2.7.jpg" alt="Услуга")
        a(href="#").services-second__item__overlay
          span Салон красоты
      li.services-second__item
        img(src="img/s2.8.jpg" alt="Услуга")
        a(href="#").services-second__item__overlay
          span Люстры и светильники
      li.services-second__item
        img(src="img/s2.9.jpg" alt="Услуга")
        a(href="#").services-second__item__overlay
          span Бухгалтерское обслуживание организаций
      li.services-second__item
        img(src="img/s2.10.jpg" alt="Услуга")
        a(href="#").services-second__item__overlay
          span Люстры и светильники вторая строка
