section.services
  .container
    .services-five
      .services-five__main
        h2.services-five__title Наши услуги
        p.services-five__text За 5 лет работы мы реализовали свыше 100 ярких проектов. Делимся лучшим!
        a(href="#").services-five__btn Смотреть все услуги
      ul.services-five__list
        li.services-five__item
          img(src="img/s5.1.jpg")
          a(href="#").services-five__item__overlay
            span Мебель для спальни  
        li.services-five__item
          img(src="img/s5.2.jpg")
          a(href="#").services-five__item__overlay
            span Бальные танцы
        li.services-five__item
          img(src="img/s5.3.jpg")
          a(href="#").services-five__item__overlay
            span Беседки
        li.services-five__item
          img(src="img/s5.4.jpg")
          a(href="#").services-five__item__overlay
            span Строительные материалы
        li.services-five__item
          img(src="img/s5.5.jpg")
          a(href="#").services-five__item__overlay
            span Уход за телом и лицом
        li.services-five__item
          img(src="img/s5.6.jpg")
          a(href="#").services-five__item__overlay
            span Люстры и светильники
