section.services
  .container
    h2.services__title.title Наши услуги
    p.services__text В нашем каталоге представлены последние линейки спецтехники, систем Закажите констультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. мы подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок
    ul.services-seven
      li.services-seven__item
        a(href="#")
          img(src="img/2.1.jpg" alt="Услуги")
        .services-seven__item__wrap
          a(href="#").services-seven__title Автоматизация бизнеса
          ul.services-seven__list
            li
              a(href="#") Управление логистикой
            li
              a(href="#") Бизнес аналитика
          p.services-seven__text Здесь у нас находится краткое описание категории, которая размещается только в две строки
      li.services-seven__item
        a(href="#") 
          img(src="img/2.2.jpg" alt="Услуги")
        .services-seven__item__wrap
          a(href="#").services-seven__title Дизайн интерьера
          ul.services-seven__list
            li
              a(href="#") Дизайн квартир 
            li
              a(href="#") Дизайн коттеджей
            li
              a(href="#") Дизайн общественных проектов
          p.services-seven__text Здесь у нас находится краткое описание категории, которая размещается только в две строки
      li.services-seven__item
        a(href="#") 
          img(src="img/2.3.jpg" alt="Услуги")
        .services-seven__item__wrap
          a(href="#").services-seven__title Салон красоты
          ul.services-seven__list
            li
              a(href="#") Парикхмахерские услуги
            li
              a(href="#") Ногтевой сервис
            li
              a(href="#") Перманентный макияж
            li
              a(href="#") Омоложение
            li
              a(href="#") Солярий
            li
              a(href="#") Тату и пирсинг
          p.services-seven__text Здесь у нас находится краткое описание категории, которая размещается только в две строки
      li.services-seven__item
        a(href="#") 
          img(src="img/2.4.jpg" alt="Услуги")
        .services-seven__item__wrap
          a(href="#").services-seven__title Школа танцев
          ul.services-seven__list
            li
              a(href="#") Хип-хоп танцы
            li
              a(href="#") Бальные танцы
            li
              a(href="#") Свадебные танцы
      li.services-seven__item 
        a(href="#")
          img(src="img/2.5.jpg" alt="Услуги")
        .services-seven__item__wrap
          a(href="#").services-seven__title Ремонт и строительство
          ul.services-seven__list
            li
              a(href="#") Электромонтажные работы
            li
              a(href="#") Сантехнические работы
            li
              a(href="#") Проектирование домов
          p.services-seven__text Здесь у нас находится краткое описание категории, которая размещается только в две строки
      li.services-seven__item
        a(href="#")
          img(src="img/2.6.jpg" alt="Услуги")
        .services-seven__item__wrap
          a(href="#").services-seven__title Школа по автотранспорту
          ul.services-seven__list
            li
              a(href="#") Экстремальное вождение
            li
              a(href="#") Уроки вождения категории B
            li
              a(href="#") Школа картинга
          p.services-seven__text Здесь у нас находится краткое описание категории, которая размещается только в две строки
