section.services
  .container
    h2.services__title.title Наши услуги
    p.services__text В нашем каталоге представлены последние линейки спецтехники, систем Закажите констультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. мы подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок
    ul.services__list
      li.services__item.services__item_big
        img(src="img/1.jpg" alt="Услуги").services__item__img
        a(href="#").services__item__wrap
          .services__item__info
            h3.services__item__title Высотные здания из металлоконструкций
            span.services__item__text Весь товар сертифицирован
      li.services__item
        img(src="img/2.jpg" alt="Услуги").services__item__img
        a(href="#").services__item__wrap
          .services__item__info  
            h3.services__item__title Английский для IT специалиста
            span.services__item__text.services__item__text Новый корпус и интегрированная система сенсоров
      li.services__item
        img(src="img/3.jpg" alt="Услуги").services__item__img
        a(href="#").services__item__wrap
          .services__item__info
            h3.services__item__title Бухгалтерское обслуживание организаций
            span.services__item__text Новый корпус и интегрированная система сенсоров вторая строчка
      li.services__item
        img(src="img/4.jpg" alt="Услуги").services__item__img
        a(href="#").services__item__wrap
          .services__item__info
            h3.services__item__title.services__item__title Разработка бизнес-планов
            span.services__item__text Новый корпус и интегрированная система сенсоров
      li.services__item
        img(src="img/5.jpg" alt="Услуги").services__item__img
        a(href="#").services__item__wrap
          .services__item__info
            h3.services__item__title Дизайн квартир
            span.services__item__text Новый корпус и интегрированная система сенсоров
      li.services__item.services__item_big
        img(src="img/6.jpg" alt="Услуги").services__item__img
        a(href="#").services__item__wrap
          .services__item__info
            h3.services__item__title Парикмахерские услуги
            span.services__item__text Весь товар сертифицирован
