//section.services
  .container
    .services-ten
      .services-ten__tabs
        h2.title Наши услуги
        ul.services-ten__tabs__navs
          li.services-ten__tabs__switch.active
            a(data-tab="tab1-1") Автоматизация бизнеса
          li.services-ten__tabs__switch
            a(data-tab="tab2-1") Лизинг
          li.services-ten__tabs__switch
            a(data-tab="tab3-1") Управление активами и инвестициями
          li.services-ten__tabs__switch
            a(data-tab="tab4-1") Автоматизация бизнеса
          li.services-ten__tabs__switch
            a(data-tab="tab5-1") Лизинг
          li.services-ten__tabs__switch
            a(data-tab="tab6-1") Управление активами и инвестициями вторая строка
          li.services-ten__tabs__switch
            a(data-tab="tab7-1") Лизинг
        a(href="#").services-ten__tabs__all Все услуги
      .services-ten__tabs-content
        .services-ten__navs
          .services-ten__nav-prev.services-ten__nav(switch-tab="prev")
            svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M7.08333 8.75L3.25 5L7.08333 1.16667L5.91666 0L0.916662 5L5.91666 10L7.08333 8.75Z")
          .services-ten__nav__next.services-ten__nav(switch-tab="next")
            svg(width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M0.916672 8.75L4.75 5L0.916672 1.16667L2.08334 0L7.08334 5L2.08334 10L0.916672 8.75Z")
        .services-ten__tabs__item.active#tab1-1
          img(src="img/tabs1.png" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title Автоматизация бизнеса
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        .services-ten__tabs__item#tab2-1
          img(src="img/tabs1.png" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title Лизинг
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        .services-ten__tabs__item#tab3-1
          img(src="img/tabs1.png" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title Управление активами и инвестициями
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        .services-ten__tabs__item#tab4-1
          img(src="img/tabs1.png" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title 444444
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        .services-ten__tabs__item#tab5-1
          img(src="img/tabs1.png" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title Лизинг5
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        .services-ten__tabs__item#tab6-1
          img(src="img/tabs1.png" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title Управление активами и инвестициями вторая строка
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        .services-ten__tabs__item#tab7-1
          img(src="img/tabs1.png" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title Лизинг7
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        a(href="#").services-ten__tabs__more Подробнее об услуге
          svg(width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M9.35355 4.35355C9.54882 4.15829 9.54882 3.84171 9.35355 3.64645L6.17157 0.464466C5.97631 0.269204 5.65973 0.269204 5.46447 0.464466C5.2692 0.659728 5.2692 0.976311 5.46447 1.17157L8.29289 4L5.46447 6.82843C5.2692 7.02369 5.2692 7.34027 5.46447 7.53553C5.65973 7.7308 5.97631 7.7308 6.17157 7.53553L9.35355 4.35355ZM0 4.5H9V3.5H0V4.5Z")
