section.services
  .container
    h2.services__title.title Наши услуги
    p.services__text В нашем каталоге представлены последние линейки спецтехники, систем Закажите констультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. мы подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок
    ul.services-third
      li.services-third__item
        img(src="img/s3.1.jpg" alt="Услуга")
        a(href="#").services-third__item__wrap
          .services-third__item__info
            span.services-third__item__subject Автоматизация бизнеса
            h3.services-third__item__title Автоматизация ООО "ДетроГаз"
      li.services-third__item
        img(src="img/s3.2.jpg" alt="Услуга")
        a(href="#").services-third__item__wrap
          .services-third__item__info
            span.services-third__item__subject Управление бизнесом
            h3.services-third__item__title Разрешение спора в компании "Единогрупп"
      li.services-third__item
        img(src="img/s3.3.jpg" alt="Услуга")
        a(href="#").services-third__item__wrap
          .services-third__item__info
            span.services-third__item__subject Киберпреступления
            h3.services-third__item__title Задержание преступной группы Hidprot
      li.services-third__item
        img(src="img/s3.4.jpg" alt="Услуга")
        a(href="#").services-third__item__wrap
          .services-third__item__info
            span.services-third__item__subject Автоматизация бизнеса
            h3.services-third__item__title Реинжениринг музейного бизнеса
      li.services-third__item
        img(src="img/s3.5.jpg" alt="Услуга")
        a(href="#").services-third__item__wrap
          .services-third__item__info
            span.services-third__item__subject Автоматизация бизнеса
            h3.services-third__item__title Управление цепочкой поставок для ООО "МодныйДом"
      li.services-third__item
        img(src="img/s3.6.jpg" alt="Услуга")
        a(href="#").services-third__item__wrap
          .services-third__item__info
            span.services-third__item__subject Автоматизация бизнеса
            h3.services-third__item__title Внедрение корпоративных стандартов для ООО "Лаунш" вторая строка
