section.services
  .container
    h2.services__title.title Наши услуги
    p.services__text В нашем каталоге представлены последние линейки спецтехники, систем Закажите констультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. мы подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок
    .services-four
      .services-four__main
        img(src="img/s4.1.jpg" alt="Услуги")
        .services-four__item__wrap
          a(href="#").services-four__item__subject Охранные системы
          a(href="#").services-four__item__title Видео наблюдения для бизнес-центра "Калейдоскоп"   
      ul.services-four__list
        li.services-four__item
          img(src="img/s4.2.jpg" alt="Услуги")
          .services-four__item__wrap
            a(href="#").services-four__item__subject Услуги компании
            a(href="#").services-four__item__title Технико-экономическое обоснование
        li.services-four__item
          img(src="img/s4.3.jpg" alt="Услуги")
          .services-four__item__wrap
            a(href="#").services-four__item__subject Салон красоты
            a(href="#").services-four__item__title Тату и пирсинг
        li.services-four__item
          img(src="img/s4.4.jpg" alt="Услуги")
          .services-four__item__wrap
            a(href="#").services-four__item__subject Строительство
            a(href="#").services-four__item__title Отделка фасада музея изобретательных искусств "Мориция"
        li.services-four__item
          img(src="img/s4.5.jpg" alt="Услуги")
          .services-four__item__wrap
            a(href="#").services-four__item__subject Электроосвещение
            a(href="#").services-four__item__title Торгово-сервисный комплекс "Первый"
