section.services
  .container
    .services-ten
      .services-ten__tabs
        h2.title Наши услуги
        ul.services-ten__tabs__navs
          li.services-ten__tabs__switch.active
            a(data-tab="tab1") Автоматизация бизнеса
          li.services-ten__tabs__switch
            a(data-tab="tab2") Лизинг
          li.services-ten__tabs__switch
            a(data-tab="tab3") Управление активами и инвестициями
          li.services-ten__tabs__switch
            a(data-tab="tab4") Автоматизация бизнеса
          li.services-ten__tabs__switch
            a(data-tab="tab5") Лизинг
          li.services-ten__tabs__switch
            a(data-tab="tab6") Управление активами и инвестициями вторая строка
          li.services-ten__tabs__switch
            a(data-tab="tab7") Лизинг
        a(href="#").services-ten__tabs__all Все услуги
      .services-ten__tabs-content
        .services-ten__navs
          .services-ten__nav-prev.services-ten__nav(switch-tab="prev")
            svg(role="img")
              use(xlink:href="img/map.svg#arrow-left")
          .services-ten__nav__next.services-ten__nav(switch-tab="next")
            svg(role="img")
              use(xlink:href="img/map.svg#arrow-right")
        .services-ten__tabs__item.active#tab1
          img(src="img/s10.1.jpg" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title Автоматизация бизнеса
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        .services-ten__tabs__item#tab2
          img(src="img/s10.1.jpg" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title Лизинг
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        .services-ten__tabs__item#tab3
          img(src="img/s10.1.jpg" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title Управление активами и инвестициями
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        .services-ten__tabs__item#tab4
          img(src="img/s10.1.jpg" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title 444444
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        .services-ten__tabs__item#tab5
          img(src="img/s10.1.jpg" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title Лизинг5
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        .services-ten__tabs__item#tab6
          img(src="img/s10.1.jpg" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title Управление активами и инвестициями вторая строка
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        .services-ten__tabs__item#tab7
          img(src="img/s10.1.jpg" alt="Услуга")
          .services-ten__tabs__item__wrap
            a(href="#").services-ten__tabs__title Лизинг7
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            p.services-ten__tabs__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.
            ul.services-ten__tabs__list
              li
                a(href="#") Проекты домов
              li
                a(href="#") Управление логистикой
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Бизнес-аналитика
              li
                a(href="#") Проекты домов из газоселикатных блоков
        a(href="#").services-ten__tabs__more Подробнее об услуге
          svg(role="img")
            use(xlink:href="img/map.svg#arrow-long")
