section.services.services__eleven__container
  .container
    .services__eleven
      .services__eleven__main
        h4.title.services__eleven__title Наши услуги
        span.services__eleven__subtitle Индивидуальный подход к каждому клиенту
        p.services__eleven__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Затем предлагаем решение, которое обеспечит экономический или организационный эффект.
        p.services__eleven__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места. Для этого мы изучаем бизнес-процессы компании, анализируем их и ищем узкие места.. Цель нашей компании - сократить издержки.
        a(href="#").services__eleven__btn Все услуги
      ul.services__eleven__list
        li.services__eleven__item
          a(href="#").services__eleven__item__link
            img(src="img/s11.1.jpg" alt="Услуга")
            span Дизайн интерьера
        li.services__eleven__item
          a(href="#").services__eleven__item__link
            img(src="img/s11.2.jpg" alt="Услуга")
            span Мастер классы, тренинги
        li.services__eleven__item
          a(href="#").services__eleven__item__link
            img(src="img/s11.3.jpg" alt="Услуга")
            span Подготовка к экзаменам по английскому языку
        li.services__eleven__item
          a(href="#").services__eleven__item__link
            img(src="img/s11.4.jpg" alt="Услуга")
            span Разработка бизнес-планов
        li.services__eleven__item
          a(href="#").services__eleven__item__link
            img(src="img/s11.5.jpg" alt="Услуга")
            span Салон красоты
        li.services__eleven__item 
          a(href="#").services__eleven__item__link
            img(src="img/s11.6.jpg" alt="Услуга")
            span Металлоконструкции
