section.services
  .container
    h2.services__title.title Наши услуги
    p.services__text В нашем каталоге представлены последние линейки спецтехники, систем Закажите констультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. мы подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок
    ul.services-seven
      li.services-seven__item
        a(href="#")
          img(src="img/2.1.jpg" alt="Услуги")
        .services-seven__item__wrap
          a(href="#").services-seven__title Автоматизация бизнеса
          p.services-seven__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Цель нашей компании - сократить издержки, для этого мы...
      li.services-seven__item 
        a(href="#")  
          img(src="img/s8.2.jpg" alt="Услуги")
        .services-seven__item__wrap
          a(href="#").services-seven__title Управление активами и инвестиции
          p.services-seven__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Цель нашей компании - сократить издержки, для этого мы...
      li.services-seven__item
        a(href="#") 
          img(src="img/s8.3.jpg" alt="Услуги")
        .services-seven__item__wrap
          a(href="#").services-seven__title Юридическая практика
          p.services-seven__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Цель нашей компании - сократить издержки, для этого мы...
      li.services-seven__item
        a(href="#")
          img(src="img/s8.4.jpg" alt="Услуги")
        .services-seven__item__wrap
          a(href="#").services-seven__title Лизинг
          p.services-seven__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Цель нашей компании - сократить издержки, для этого мы...
      li.services-seven__item
        a(href="#") 
          img(src="img/s8.5.jpg" alt="Услуги")
        .services-seven__item__wrap
          a(href="#").services-seven__title Управление активами и инвестиции
          p.services-seven__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Цель нашей компании - сократить издержки, для этого мы...
      li.services-seven__item
        a(href="#")
          img(src="img/s8.6.jpg" alt="Услуги")
        .services-seven__item__wrap
          a(href="#").services-seven__title Юридическая практика
          p.services-seven__text Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Цель нашей компании - сократить издержки, увеличить обороты и доходность вашего бизнеса. Цель нашей компании - сократить издержки, для этого мы...
