section.services.services__eleven__container
  .container
    .services__twelve
      .services__twelve__main
        h2.services__twelve__title Наши услуги
        span.services__twelve__subtitle Специализируемся на услугах для малого и среднего бизнеса. Работаем с физическими и юридическими лицами.
        p.services__eleven__text 10 лет на рынке проектирования, консалтинга и крупных поставок промышленного оборудования.
        a(href="#").services__eleven__btn Все услуги
      ul.services__twelve__list
        li.services__twelve__item
          svg(role="img")
            use(xlink:href="img/map.svg#codepen")
          a(href="#") Автоматизация бизнеса
          p Здесь находится описание блока, которое может располагаться максимум в три строки
        li.services__twelve__item
          svg(role="img")
            use(xlink:href="img/map.svg#codepen")
          a(href="#") Бухгалтерские услуги
          p Здесь находится описание блока, которое может располагаться максимум в три строки
        li.services__twelve__item
          svg(role="img")
            use(xlink:href="img/map.svg#codepen")
          a(href="#") Салон красоты
          p Здесь находится описание блока, которое может располагаться максимум в три строки
        li.services__twelve__item
          svg(role="img")
            use(xlink:href="img/map.svg#codepen")
          a(href="#") Проектирование домов
          p Здесь находится описание блока, которое может располагаться максимум в три строки
        li.services__twelve__item
          svg(role="img")
            use(xlink:href="img/map.svg#codepen")
          a(href="#") Школа по автотранспорту
          p Здесь находится описание блока, которое может располагаться максимум в три строки
        li.services__twelve__item
          svg(role="img")
            use(xlink:href="img/map.svg#codepen")
          a(href="#") Дизайн интерьеров
          p Здесь находится описание блока, которое может располагаться максимум в три строки
