section.services
  .container
    h2.services__title.title Наши услуги
    p.services__text В нашем каталоге представлены последние линейки спецтехники, систем Закажите констультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. мы подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок
    .services-six
      .services-six__main
        img(src="img/s6.1.jpg")
        a(href="#").services-six__overlay
          .services-six__text
            span.services-six__tag Проект под ключ
            span.services-six__title Подготовка к экзаменам по английскому языку
      ul.services-six__list
        li.services-six__item
          img(src="img/s6.2.jpg")
          a(href="#").services-six__overlay
            .services-six__text
              span.services-six__tag Проект под ключ
              span.services-six__title Подготовка к экзаменам по английскому языку
        li.services-six__item
          img(src="img/s6.3.jpg")
          a(href="#").services-six__overlay
            .services-six__text
              span.services-six__tag Благоустройство
              span.services-six__title Перманентный макияж
        li.services-six__item
          img(src="img/s6.4.jpg")
          a(href="#").services-six__overlay
            .services-six__text
              span.services-six__tag Уход за садом
              span.services-six__title Коттедж в поселке Саргазы. Самый уютный домик
