// Вариант Шапки
//- include sections/headers/header-1
//- include sections/headers/header-2
//- include sections/headers/header-3
include sections/headers/header-4
//- include sections/headers/header-5
//- include sections/headers/header-6
//- include sections/headers/header-7
//- include sections/headers/header-8

// Вариант Мобильного Меню
include sections/headers/header-mobile
//- include sections/headers/header-mobile-2

// Слайдер
include sections/sliders/slider-1
//- include sections/sliders/slider-2
//- include sections/sliders/slider-3
//- include sections/sliders/slider-4
//- include sections/sliders/slider-5
